Source: staden-io-lib-current
Maintainer: German Tischler <gt1@sanger.ac.uk>
Section: universe/libs
Priority: optional
Standards-Version: 3.9.2
Build-Depends: debhelper (>= 7),  autoconf (>= 2.61), automake (>= 1.10), libtool (>= 2.2.6), zlib1g-dev (>= 1.2.3), libcurl4-openssl-dev

Package: staden-io-lib
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: staden io_lib
